section[data-page] {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    transition: all var(--spring-duration) var(--spring-easing);

    top:0;
    left:0;
    opacity: 1;
}

section[data-page]::-webkit-scrollbar {
    display: none;
}