body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, rgb(2, 12, 1) 0%, rgb(4, 29, 2) 100%);
    color: rgb(250, 250, 250);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1rem;
}

main {
    width: 95%;
    max-width: 600px;
}

h1 {
    font-size: 3em;
    text-align: center;
}

cdetails {
    margin-bottom: 1em;
}
cdetails content {
    border-radius: 0.3em;
    background-color: rgba(255, 255, 255, .1);
}

#shifts {
    list-style: none;
    margin: 0;
    padding: .5em;
    max-height: 30%;
    overflow: auto;
}
#shifts li {
    background-color: rgba(255, 255, 255, .1);
    border-radius: .3em;
    margin-bottom: .3em;
    padding: .3em;
    display: grid;
    grid-template-columns: auto auto;
}
#shifts li:last-child {
    margin-bottom: 0;
}
#shifts li:hover {
    background-color: rgba(255, 255, 255, .2);
    border-radius: .3em;
    transition: background-color .1s ease-in-out;
}
#shifts li a {
    margin-left: auto;
    color: rgb(209, 204, 255);
    transition: color .15s ease-in-out;
}
#shifts li a:hover {
    color: rgb(255, 50, 50);
}
#period {
    margin-left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, .2);
    color: white;
    border: 0;
    border-radius: .3em;
    padding: .2em;
    font-size: 1em;
    margin-top: .3em;
    transition: background-color .1s ease-in-out;
}
#period:hover {
    background-color: rgba(255, 255, 255, .3);
}
#total {
    display: flex;
    justify-content: center;
    gap: .3em;
    font-size: 1.1em;
    margin-bottom: .3em;
}
#total #pay {
    font-weight: bold;
}

#shift-toggle {
    background-color: rgba(255, 255, 255, .2);
    color: white;
    border: 0;
    width: 80%;
    font-size: 2em;
    transition: background-color .1s ease-in-out;
    padding: .5em;
    margin-left: 50%;
    position: relative;
    transform: translateX(-50%);
}
#shift-toggle:hover {
    background-color: rgba(255, 255, 255, .3);
}



cdetails {
    display: block;
    position: relative;
    max-height: calc(1.5em + 1px);
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}

cdetails[open] {
    max-height: calc(var(--content-height) + 1.5em);
}

cdetails summary {
    display: block;
    position: relative;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: white;
    cursor: pointer;
}

cdetails content {
    display: block;
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}