body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, rgb(2, 12, 1) 0%, rgb(4, 29, 2) 100%);
    color: rgb(250, 250, 250);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: fit-content;
}

