#hero {
    mask-image: linear-gradient(175deg, black 60%, transparent 85%);
    margin-bottom: -60px;
}
#hero #text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: auto;
}
#hero h1 {
    font-size: 17vw;
    font-weight: 1000;

    margin: 0;

    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: var(--text-dark);
}
#hero h2 {
    font-size: 3vw;
    font-weight: 600;

    margin: 0;
    margin-top: -1em;
    padding-left: 0.8em;

    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: var(--primary);
}
#hero h2 span.second {
    padding-left: 3em;
    color: var(--secondary);
}