@font-face {
    font-family: 'Milker';
    src: url('./asstes/fonts/milker/Milker.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary: #AE604E;
    --secondary: #CBAB74;
    --text-light: rgb(232, 232, 232);
    --text-dark: #1D1F1E;
    --background: black;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Milker', sans-serif;
    background-color: var(--background);
    color: var(--text-light);
}

section {
    width: 100%;
    height: fit-content;
}

.primary-seperator {
    background-color: var(--primary);
    height: 50px;
}
.secondary-seperator {
    background-color: var(--secondary);
    height: 50px;
}